@media only screen and (max-width: 1154px) {
  .lang {
    width: 30%;
    transition: 0.3s;
  }
}
@media only screen and (max-width: 1000px) {
  .super-header-div {
    min-height: 0;
  }
  #name {
    padding-left: 0.7em;
  }
  .navbar {
    flex-direction: column;
    font-size: x-large;
  }
  .first-div {
    padding: 1rem 0.7rem;
  }
  .class-resp {
    display: none;
  }
  .menuIcon {
    padding-bottom: 1rem;
    float: right;
    display: block;
  }
  .up {
    margin: 1em;
  }
  .super-header-div {
    line-height: 4.5em;
  }
  .super-header {
    font-size: 4rem;
  }
  .about-div,
  .div-one,
  .div-two,
  .div-three {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .container header ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor);
    justify-content: center;
    flex-direction: column;
  }
  .container header.active ul {
    display: flex;
  }
  .container header ul {
    left: -100%;
    display: flex;
    transition: 0.5s;
  }
  .container header.active ul {
    left: 0;
  }
  .container header ul li {
    text-align: center;
    margin: 1em;
    font-weight: 900;
  }
  .container header ul li a {
    color: var(--mainColor);
    font-size: 1.5em;
  }
  .container header ul li a:hover {
    color: black;
    font-weight: 900;
  }
  #main-img {
    width: 50%;
    transition: 0.3s;
  }
  .btn-yellow .proj-btn-div {
    margin: 0;
  }
  .flex {
    display: block;
  }
}
@media only screen and (max-width: 750px) {
  .about-div,
  .div-one,
  .div-two,
  .div-three {
    padding-left: 1.75em;
    padding-right: 1.75em;
  }
  .img-div {
    padding: 2em 0em 4em 0em;
  }
  .super-header-div {
    line-height: 3.5em;
  }
  .super-header {
    padding: 2em 1em 1em 1em;
    font-size: 3rem;
  }
  .lang {
    width: 50%;
    transition: 0.3s;
    padding: 1em;
  }
}
@media only screen and (max-width: 550px) {
  .heading {
    padding: 1em 0em 2em;
    font-size: 2.5rem;
  }
  .img-div {
    padding: 2em 0em 4em 0em;
  }
  #main-img {
    width: 85%;
    transition: 0.3s;
  }
  .contact a {
    margin: 0.25em;
    border-radius: 15px;
    font-size: 2em;
    color: #eee;
  }
  .lang {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .up-div {
    padding: 0em 1em 3.5em;
  }
}
@media only screen and (max-height: 500px) {
  .container header ul li {
    font-size: 70%;
    margin: 0.5em;
  }
}
