@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
  --mainColor: rgb(48, 59, 77);
  --mainText: #eee;
  --mainTextDark: #000;
  --backgroundColor: #f7f7f7;
  --darkBackgroundColor: #646464;
}

* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--backgroundColor);
  transition: 0.3s;
}
.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  color: var(--mainText);
  font-family: "Poppins", sans-serif;
  background-color: rgb(55, 66, 84);
  z-index: 1;
}
.first-div{
  padding: 0.5rem;
}
.nav-list {
  font-size: 1.3rem;
  float: right;
  list-style: none;
}
.nav-list li {
  display: inline;
}
.nav-list li a {
  text-decoration: none;
  color: var(--mainText);
  padding: 0 1em 0 1em;
  transition: 0.3s;
}
.nav-list li a:hover {
  color: #fff;
  font-weight: 900;
}
#name {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--mainText);
  padding-left: 2em;
}
.super-header-div {
  text-align: center;
  line-height: 7em;
}
.super-header {
  margin-right: auto;
  margin-left: auto;
  padding: 1.8em 2em 1.8em 2em;
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  color: rgb(150, 152, 179);
}
.highlight-text {
  color: var(--mainColor);
}
.heading {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 1em 2em;
  font-family: "Poppins", sans-serif;
  color: var(--mainColor);
  font-size: 3.5rem;
}
#skills-heading {
  color: var(--mainText);
}
#about-heading {
  padding-bottom: 1em;
}
.about-div {
  font-size: 1.5rem;
  color: var(--mainTextDark);
  background-color: var(--backgroundColor);
  padding: 4em 4.5em 10em;
}
.div-one {
  font-size: 1.5rem;
  color: #eee;
  background-color: var(--mainColor);
  padding: 7em 4.5em;
  text-align: center;
}
.div-two {
  font-size: 1.5rem;
  background-color: var(--backgroundColor);
  color: var(--mainTextDark);
  padding: 7em 4.5em 6em;
}
.div-three {
  font-size: 1.5rem;
  background-color: var(--backgroundColor);
  color: var(--mainTextDark);
  padding: 3em 4.5em 7em;
}
footer {
  text-align: center;
  font-size: 1.5rem;
  color: #eee;
  background-color: var(--mainColor);
  padding: 1em 2em 2em 2em;
}
.img-div {
  text-align: center;
  padding: 2em 3em 4em 3em;
}
#main-img {
  width: 30%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
#main-img:hover {
  width: 30.5%;
}
.lang {
  width: 20%;
  margin: 1.5em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.1);
  transform: 0.5s;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  transition: all 0.3s;
}
.lang:hover {
  width: 19.5%;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.up-div {
  padding: 3em 3em 2.75em;
}
.up {
  text-align: center;
  color: #eee;
  text-decoration: none;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  background:  rgb(48, 59, 77, 0.6);
  margin-top: 1em;
  padding: 0.2rem;
  border:20px 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  float: right;
}
.menuIcon {
  color: #eee;
  display: none;
  margin-right: 0.5rem;
}
.soci {
  display: flex;
  justify-content: center;
  padding: 0 1em 1em 1em;
}
.contact a {
  margin: 0.25em;
  border-radius: 15px;
  font-size: 3em;
  color: #eee;
}
#contact-heading {
  float: center;
  font-size: 1.5em;
  padding: 1em 1em 0 1em;
  color: var(--mainText);
}
.menuIcon {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #eee;
  margin: 0.3rem 0;
  transition: 0.6s;
}
.bar1 {
  margin-top: 0.9rem;
}
.change .bar1 {
  background-color: var(--mainColor);
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-7px, 8px);
}

.change .bar2 {
  background-color: var(--mainColor);
  -webkit-transform: rotate(45deg) translate(-2px, 0px);
  transform: rotate(45deg) translate(1px, 1px);
}
